.wrapper{
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 10px;
  box-sizing: border-box;
}

.header{
  &__link{
    text-decoration: none;
    font-weight: 300;
    color: black;
    &.active{
      font-weight: 900;
    }
  }
}

.logo{
  height: 80px;
  object-fit: contain;
}