<div
  *ngIf="getSkeleton; else skeleton"
  class="column gap-1 wrapper product"
>
  <img
    [ngSrc]="product!.image"
    alt="product thumbnail"
    class="max-250 product__img"
    width="200"
    height="200"
    priority
    appOptimizedImage
  />
  <h2
    class="product__title"
  >
    {{product!.name | truncateName}}
  </h2>
  <div
    class="product__row"
  >
    <span
      class="product__price-label"
    >
      Price:
    </span>
    <span
      class="product__price"
    >
      {{product!.price | price}}
    </span>
  </div>
  <p-rating 
    [(ngModel)]="product!.rating" 
    [readonly]="true"
    iconCancelClass="hidden"
  />
  <div
    class="row gap-1"
  >
    <p-button
      label="Edit"
      type="button"
      (click)="editProduct()"
    />
    <p-button
      label="Delete"
      type="button"
      severity="danger"
      (click)="deleteProduct()"
    />
  </div>
</div>

<ng-template #skeleton>
  <div
    class="column gap-1 wrapper product"
  >
    <p-skeleton 
      width="15.7rem" 
      height="15.7rem"
      borderRadius="15px" 
    />
    <p-skeleton 
      width="10rem" 
      height="1.7rem"
    />
    <div
      class="product__row"
    >
      <p-skeleton 
        width="3rem" 
        height="1.4rem"
      />
      <p-skeleton 
        width="4rem" 
        height="1.7rem"
      />
    </div>
    <p-skeleton 
      width="10rem" 
      height="1.4rem"
    />
    <div
      class="row gap-1"
    >
      <p-skeleton 
        width="4.7rem" 
        height="2.5rem"
      />
      <p-skeleton 
      width="5.2rem" 
      height="2.5rem"
    />
    </div>
  </div>
</ng-template>
