<div
  (click)="onLayout($event)"
>
  <p-dialog 
    [header]="header"
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '25rem'  }"
  >
  <form [formGroup]="product" (ngSubmit)="onConfirm()">
    <div>
      <app-load-image
        [src]="getImage"
        [alt]="getName"
        (changeImage)="onChangeField($event)"
      />
    </div>
    <div
      class="column gap-1 pb-1 edit-popup__gried"
    >
      <p-inputGroupAddon
        class="edit-popup__label"
      >
        <span
          class="price-label"
        >
          Name:
        </span>
      </p-inputGroupAddon>
      <input
        type="text"
        class="edit-popup__input"
        pInputText
        placeholder="Product name"
        formControlName="name"
      />
      <p-inputGroupAddon
        class="edit-popup__label"
      >
        <span
          class="price-label"
        >
          Price:
        </span>
      </p-inputGroupAddon>
      <input
        type="text"
        class="edit-popup__input"
        pInputText
        placeholder="Product price"
        formControlName="price"
      />
      <p-inputGroupAddon
      class="edit-popup__label"
      >
        <span
          class="price-label"
        >
          Raiting:
        </span>
      </p-inputGroupAddon>
      <div
        class="edit-popup__frame"
        >
        <p-rating 
          formControlName="rating" 
        />
      </div>
    </div>
    <div 
      class="edit-popup__btns"
    >
      <p-button 
        label="Cancel"
        class="edit-popup__btn"
        styleClass="button-stretch"
        severity="secondary" 
        (click)="onCancel()"
        [disabled]="isLoader"
      />
      <p-button 
        label="Save" 
        class="edit-popup__btn"
        styleClass="button-stretch"
        (click)="onConfirm()" 
        [disabled]="isLoader"
      />
    </div>
  </form>
  </p-dialog>
</div>